/* CSS Document */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-weight:300;
    font-size:18px;
    margin:0px;
    padding:0px;
}


p {
    font-size: 14pt;
}

p[id^='txtEV'] {
    margin-bottom: 3px !important;
  }
  
p[id^='txtChange'] {
    margin-bottom: 7px !important;
  }

a:link,a:visited
{
    color: #1367a7;
    text-decoration: none;
}
a:hover {
    color: #208799;
}

td.dl-link {
    height: 160px;
    text-align: center;
    font-size: 22px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* your paper and bibtex*/

.layered-paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
    0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
    5px 5px 0 0px #fff, /* The second layer */
    5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
    10px 10px 0 0px #fff, /* The third layer */
    10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
    15px 15px 0 0px #fff, /* The fourth layer */
    15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
    20px 20px 0 0px #fff, /* The fifth layer */
    20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
    25px 25px 0 0px #fff, /* The fifth layer */
    25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
    margin-bottom: 30px;
}

.paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
    0px 0px 1px 1px rgba(0,0,0,0.35); /* The top layer shadow */

    margin-left: 10px;
    margin-right: 45px;
}

.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
    0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
    5px 5px 0 0px #fff, /* The second layer */
    5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
    10px 10px 0 0px #fff, /* The third layer */
    10px 10px 1px 1px rgba(0,0,0,0.35); /* The third layer shadow */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 5px;
}

pre {
    position: relative;
    display: block;
    padding: 20px;
    background: #f2f2f2;
    color: #555755;
    padding: 1rem 1rem 1rem 5rem;
    border-radius: 20px !important;
    min-width: 100px;
}


/* buttons */

.my-btn {
    /* position: absolute !important; */
    /* display: inline-flex; */
    vertical-align: top !important;
    margin-bottom: 2px;
}

.my-btn-info {
    color: #000;
    background-color: #62dbff !important;
    border-color: #62dbff !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
 

 .smallpad.table{
    width: unset !important;
    margin-bottom: 0.5rem !important;
  }

td {
    border: none !important;
}

.smallpad.table>:not(caption)>*>* {
    padding: 1 !important;
    background-color: var(--bs-table-bg);
    border-bottom-width: 0px !important;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

/* slider */
.custom-range::-webkit-slider-thumb {
    background-color: #62dbff !important;
}
  
.custom-range::-moz-range-thumb {
    background: #62dbff !important;
}

.custom-range::-ms-thumb {
    background: #62dbff !important;
}

.custom-range-disabled::-webkit-slider-thumb {
    background-color: gray !important;
}
  
.custom-range-disabled::-moz-range-thumb {
    background: gray !important;
}

.custom-range-disabled-disabled::-ms-thumb {
    background: gray !important;
}





  .range-slider {
    position: relative;
  }
  
  .range-ticks {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    writing-mode: vertical-lr;
  }
  
  /* overlay */
  .overlay-container {
    position: relative;
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }
  
  .overlay-image-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }

  .overlay-container:hover .overlay-image {
    opacity: 1;
  }

  .overlay-container:hover .overlay-image-2 {
    opacity: 1;
  }
  
  .overlay-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }

  .overlay-container:hover .overlay-video {
    opacity: 1;
  }

.probimg  {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* min-width: 400px !important; */
}

.btn-light:hover { 
    background: #eee !important;
    border-color: #ccc !important;
  }
  